@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: repeat url("/weeyeet_logo_white.png");
  background-size: 25% 25%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fugaz One", sans-serif;
}

button {
  cursor: pointer;
}

.av-contain img {
  object-fit: contain;
}
